<%= form_for @conn, bowl_path(@conn, :new), [as: :new], fn _f -> %>
  <%= submit [class: "new-bowl"] do %>
    Bowl
    <div class="ring one"></div>
    <div class="ring two"></div>
    <div class="ring three"></div>
    <div class="ring four"></div>
  <% end %>
<% end %>
