<%= select :select, :lang, langs() %>
<div id="editor">const ABACUS = (number, carry = 0) => {
  let size = number.length - 1;

  if(number[size - carry] === 9) {
    number[size - carry] = 0;
    ABACUS(number, carry + 1)
  } else if (number[size - carry] >= 0) {
    number[size - carry] += 1
  } else {
    number.unshift(1);
  }

  return number;
}</div>
